html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: white;
    
}
body{
    
    font-family: sans-serif;
    background-image: url("fotos/shuffle2.jpg");
    background-size:   cover;                     
    background-repeat: no-repeat;
    position: relative;
    min-height: 100%;
    height: 100%;
    color: white;
}
#container{
    background-color: #2E2E2E;
    position: relative;
    opacity: 0.9;
    margin-left: 20%;
    margin-right: 20%;
    min-height: 100%;
    filter: alpha(opacity=90);
    
    
}
#container img{
    width: 100px; 
    height: 100px;
    vertical-align: middle;
    
}
div{
    padding-left:2%;
    
}

#navigationContainer ul {
    width: 90%;
    padding: 0;
    margin-left: 5%;
    list-style-type: none;
    
    
}
#navigationContainer li {
    display: inline;
    
}

#navigationContainer a{
    float: left;
    align-content: center;
    width: 20%;
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: black;
    font-weight: bold;
}
#active a{
    background:red;
}
#navigationContainer a:hover{
    background: red;
}

#mainContent{
    position:relative;
    width: 100%;
}
a{
    color:red;
}
#nieuwsDiv{
    float: left;
    width:60%;
        
}

#agendaDiv{
    float: left;
    width:30%;
    margin:2%;
    padding-bottom: 1em;
    padding-top: 0em;
    border: 1px solid white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: red;
    
}

#agendaDiv ul{
    list-style: none;
}
#agendaDiv li{
    float: left;
}

#copyright{
    text-align: right;
    font-size: 0.7em;
    clear: both;

    margin-left:2%;
    margin-right:2%;
    
}
#photoalbum p{
    font-size: 1.5em;
    font-weight: bold;
    clear: both;
}

#photoalbum img{
    width: 220px; 
    height: 150px;
    margin: 0.5em;
    display: inline;
    float: left;
    
}


