html, body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
h1{
    margin-left:2%;
}
body{
    font-family: sans-serif;
    background-color: red;
    padding:0;
    margin:0;
}
#container{
    background-color: #BFBFBF;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    margin-top: 0;
    padding:0;
}
#navigationContainer ul {
    width: 90%;
    padding: 0;
    margin-left: 5%;
    list-style-type: none;
    
    
}
#navigationContainer li {
    display: inline;
    
}

#navigationContainer a{
    float: left;
    align-content: center;
    width: 20%;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: black;
    font-weight: bold;
}
#active a{
    background:red;
}
#navigationContainer a:hover{
    background: red;
}

#mainContent{
    position:relative;
    width: 100%;
}
#nieuwsDiv{
    float: left;
    width:68%;
    margin-left:2%;
        
}

#agendaDiv{
    float: right;
    width:28%;
    margin-left:2%;
}

#copyright{
    text-align: right;
    font-size: 0.7em;
    clear: both;
    margin-left:2%;
    margin-right:2%;
}
