h1,h2,h3,h4,h5,h6{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
body{
    font-family: sans-serif;
}
#basenavigation{

}
#navigationlist {
    width: 100%;
    padding: 0;
    list-style-type: none;
}


.navigationItem {
    display: inline;
}

.navigationLink{
    float: left; 
    width: 20%;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
    background-color: black;   
}

#copyright{
    text-align: right;
    font-size: 0.7em;
}
