h1,h2,h3,h4,h5,h6{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: white;
}
body{
    font-family: sans-serif;
    background-color: #2E2E2E;
    color: white; 
}

img{
    width: 100px; 
    height: 100px;
    vertical-align: middle;
}

#navigationContainer ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    
    
}
#navigationContainer li {
    display: inline;
    
}

#navigationContainer a{
    float: left; 
    width: 20%;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: black;
    font-weight: bold;
}
#active a{
    background:red;
}
#navigationContainer a:hover{
    background: red;
}
#agendaDiv ul{
    list-style-type: diamond;
}

#copyright{
    text-align: right;
    font-size: 0.7em;
     margin-left:2%;
    margin-right:2%;
}

#photoalbum p{
    font-size: 1.5em;   
    font-weight: bold;
    clear:both;
}

#photoalbum img{
    width: 220px; 
    height: 150px;
    margin: 0.5em;
    display: inline;
    float: left;
    
}




