h1,h2,h3,h4,h5,h6{
    margin-bottom: 2%;
    margin-top: 2%;
}
#basenavigation{

}
#navigationlist {
    
    width: 100%;
    padding: 0;
    list-style-type: none;
}


.navigationItem {
    display: inline;
}

.navigationLink{ 
    width: 20%;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: purple;
    
}
